%% -*- erlang -*-
{deps,
 [
  {sext, "1.6.0"},
  {erlfdb, ".*",
   {git, "https://github.com/leonardb/couchdb-erlfdb.git",
    {tag, "v1.2.2-exinit"}}}
 ]}.

{profiles,
 [
  {test,
   [
    {ct_opts, [
               {sys_config, ["/opt/mnesia_fdb/test.config"]}
              ]},
    {deps, [ {proper, "1.2.0"}
           , {meck, "0.8.13"}]}
   ]}
 ]}.
